<style>
html { 
  background: url(assets/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}h1   {color: grey;}
</style>

<div>
    <table>
        <tr>
            <th>
                <h1>Welcome!</h1>
            </th>
            <th style="width: 80%;">
            </th>
            <th>
                <%= button_to "Login", '/login', method: :get%>
            </th>
            <th>
                <%= button_to "Sign Up", '/users/new', method: :get%>
            </th>
        </tr>
    </table>
</div>


<!-- -->