%body{:style => "background-color:#d4e3e5;"}
  %h1 Company Spreadsheet
  %p I will contain the spreadsheet view for cadet schedules
  :css
    .tftable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
    .tftable th {font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}
    .tftable tr {background-color:#d4e3e5;}
    .tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
    .tftable tr:hover {background-color:#ffffff;}
  %table.tftable{:border => "1"}
    %tr
      %th Cadet Name
      %th Monday
      %th Tuesday
      %th Wednesday
      %th Thursday
      %th Friday
      %th Saturday
      %th Sunday
    %tr
      %td Moore, John
      %td Row:1 Cell:2
      %td Row:1 Cell:3
      %td Row:1 Cell:4
      %td Row:1 Cell:5
      %td Row:1 Cell:6
      %td Row:1 Cell:7
      %td Row:1 Cell:8
    %tr
      %td Lipscomb, Brett
      %td Row:2 Cell:2
      %td Row:2 Cell:3
      %td Row:2 Cell:4
      %td Row:2 Cell:5
      %td Row:2 Cell:6
      %td Row:2 Cell:7
      %td Row:2 Cell:8
    %tr
      %td Row:3 Cell:1
      %td Row:3 Cell:2
      %td Row:3 Cell:3
      %td Row:3 Cell:4
      %td Row:3 Cell:5
      %td Row:3 Cell:6
      %td Row:3 Cell:7
      %td Row:3 Cell:8
