<body style= "background-color:lightblue;">
<h1 align="center">Bugle Schedule</h1>
<style type="text/css">

.tftable {font-size:12px;color:#111111;width:50%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
.tftable th {font-size:20px;background-color:#3975B7;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:center;}
.tftable tr {background-color:lightblue;}
.tftable td {font-size:15px;border-width: 1px;padding: 3px;border-style: solid;border-color: #729ea5;}
.tftable tr:hover {background-color:#ffffff;}
</style>

<h2 align="center">Monday</h2>

<table class="tftable" align="center">
<tr><th>Call Time</th><th>Call</th><th>Cadet Name</th>
<tr><td>0520</td><td>First Call</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>0525</td><td>Assembly</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>0632</td><td>First Call</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>0635</td><td>Assembly</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>0638</td><td>Attention</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>0639</td><td>To the Colors</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1755</td><td>First Call</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1800</td><td>Assembly</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1801</td><td>Attention</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1802</td><td>Retreat</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1803</td><td>To the Colors</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>2300</td><td>Taps</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
</table>

<h2 align="center">Tuesday</h2>

<table class="tftable" align="center">
<tr><th>Call Time</th><th>Call</th><th>Cadet Name</th>
<tr><td>0520</td><td>First Call</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>0525</td><td>Assembly</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>0730</td><td>First Call</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>0735</td><td>Assembly</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>0743</td><td>Attention</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>0744</td><td>To the Colors</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1755</td><td>First Call</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1800</td><td>Assembly</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1801</td><td>Attention</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1802</td><td>Retreat</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1803</td><td>To the Colors</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>2300</td><td>Taps</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
</table>

<h2 align="center">Wednesday</h2>

<table class="tftable" align="center">
<tr><th>Call Time</th><th>Call</th><th>Cadet Name</th>
<tr><td>0730</td><td>First Call</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>0735</td><td>Assembly</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>0743</td><td>Attention</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>0744</td><td>To the Colors</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1450</td><td>Fatigue Call</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1455</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1500</td><td>Assembly</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1550</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1600</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1650</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1700</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1750</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1755</td><td>First Call</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1800</td><td>Assembly</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1801</td><td>Attention</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1802</td><td>Retreat</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1803</td><td>To the Colors</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1950</td><td>Call to Quarters</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1955</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>2000</td><td>Assembly</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>2300</td><td>Taps</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
</table>

<h2 align="center">Thursday</h2>

<table class="tftable" align="center">
<tr><th>Call Time</th><th>Call</th><th>Cadet Name</th>
<tr><td>0520</td><td>First Call</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>0525</td><td>Assembly</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>0632</td><td>First Call</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>0635</td><td>Assembly</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>0638</td><td>Attention</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>0639</td><td>To the Colors</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1755</td><td>First Call</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1800</td><td>Assembly</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1801</td><td>Attention</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1802</td><td>Retreat</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1803</td><td>To the Colors</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>2300</td><td>Taps</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
</table>

<h2 align="center">Friday</h2>

<table class="tftable" align="center">
<tr><th>Call Time</th><th>Call</th><th>Cadet Name</th>
<tr><td>0520</td><td>First Call</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>0525</td><td>Assembly</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>0730</td><td>First Call</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>0735</td><td>Assembly</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>0743</td><td>Attention</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>0744</td><td>To the Colors</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1530</td><td>First Call</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1540</td><td>Assembly</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1850</td><td>Fatigue Call</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1855</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1900</td><td>Assembly</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1950</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>2000</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>2050</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>2100</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>2150</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>2300</td><td>Taps</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>2400</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>0100</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
</table>

<h2 align="center">Saturday</h2>

<table class="tftable" align="center">
<tr><th>Call Time</th><th>Call</th><th>Cadet Name</th>
<tr><td>1350</td><td>Fatigue Call</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1355</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1400</td><td>Assembly</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1450</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1500</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1550</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1600</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1650</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1850</td><td>Fatigue Call</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1855</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1900</td><td>Assembly</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1950</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>2000</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>2050</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>2100</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>2150</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>2300</td><td>Taps</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>0100</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
</table>

<h2 align="center">Sunday</h2>

<table class="tftable" align="center">
<tr><th>Call Time</th><th>Call</th><th>Cadet Name</th>
<tr><td>1355</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1400</td><td>Assembly</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1450</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1500</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1550</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1600</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1650</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1700</td><td>Assembly</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1750</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1800</td><td>Attention</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1802</td><td>Retreat</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1803</td><td>To the Colors</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1950</td><td>Call to Quarters</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>1955</td><td>Steele</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>2000</td><td>Assembly</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
<tr><td>2300</td><td>Taps</td><td><select name="Cadet Name"><option>Cadet</option></select></td>
</table>

</body>
