<body style= "background-color:#d4e3e5;">
<h1>Company Spreadsheet</h1>
<p>I will contain the spreadsheet view for cadet schedules</p>
<style type="text/css">
.tftable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
.tftable th {font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}
.tftable tr {background-color:#d4e3e5;}
.tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
.tftable tr:hover {background-color:#ffffff;}
</style>

    <table class="tftable" border="1">
        <thead>
            <tr>
                <th>Cadet Name</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
        </thead>

        <tbody>
            <% @cadets.each do |cadet| %>
            <tr>
                <td><%= cadet.F_NAME %> <%= cadet.L_NAME %> </td>
                <td>Row:1 Cell:2</td>
                <td>Row:1 Cell:3</td>
                <td>Row:1 Cell:4</td>
                <td>Row:1 Cell:5</td>
                <td>Row:1 Cell:6</td>
                <td>Row:1 Cell:7</td>
                <td>Row:1 Cell:8</td>
            </tr>
            <% end %>
        </tbody> 
    </table>
</body>
